.root {
  @apply bg-red-500 text-white cursor-pointer inline-flex px-10 rounded-full leading-6 transition ease-in-out duration-150 shadow-sm font-semibold text-center justify-center uppercase py-4 border border-transparent items-center;
}

.root:hover {
  @apply bg-red-600 shadow-md;
}

.root:focus {
  @apply shadow-outline outline-none;
}

.loading {
  @apply bg-accents-1 text-accents-3 border-accents-2 cursor-not-allowed;

  &:hover {
    @apply bg-accents-1 shadow-none;
  }

  &:focus {
    @apply outline-none shadow-none;
  }
}

.slim {
  @apply py-2 transform-none normal-case;
}

.round {
  @apply w-11 h-11 rounded-full p-3 transform-none normal-case;
}

.round[data-active] {
  @apply transform scale-95;
}

.round-sm {
  @apply w-9 h-9 rounded-full p-2 transform-none normal-case transition-all ease-in-out duration-150 text-left justify-start;

  &:hover {
    @apply w-32;
  }
}

.alt {
  @apply bg-blue-500;

  &:hover {
    @apply bg-blue-600;
  }
}

.inverted,
.inverted:hover {
  @apply bg-red-200 border-2 text-red-600;
}

.disabled,
.disabled:hover {
  @apply text-accents-4 border-accents-2 bg-accents-1 cursor-not-allowed shadow-sm;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
