.root {
  @apply grid grid-cols-12 w-full gap-6 px-3 py-6 border-b border-accents-2 transition duration-100 ease-in-out;

  &:nth-child(3n + 1) {
    & .productBg {
      @apply bg-violet;
    }
  }

  &:nth-child(3n + 2) {
    & .productBg {
      @apply bg-pink-500;
    }
  }

  &:nth-child(3n + 3) {
    & .productBg {
      @apply bg-blue-500;
    }
  }
}
