.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center text-accents-1 text-lg leading-6 font-semibold transition ease-in-out duration-75 cursor-pointer;
}

.link:hover {
  @apply text-accents-4;
}

.link:focus {
  @apply text-accents-4;
}

.logo {
  @apply cursor-pointer transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
