.root {
  @apply relative;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 flex items-center outline-none text-primary;

  &:hover {
    @apply text-accents-6 transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.bagCount {
  @apply bg-red-500 text-secondary h-4 w-4 absolute rounded-full right-3 top-3 flex items-center justify-center font-semibold text-xs;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}
