.productTags {
  @apply bg-white rounded-tl-lg rounded-tr-lg border-b-2 border-gray-100 p-4;
}

.tags {
  @apply flex overflow-x-auto justify-start;

  @screen md {
    @apply overflow-x-visible w-11/12 flex-wrap;
  }
}

.tag {
  @apply flex flex-shrink-0 items-center justify-center;
  @apply mr-2 px-3 py-1 mb-2;
  @apply bg-gray-100 text-sm text-primary;
  @apply transition duration-150 rounded-full;

  &:hover {
    @apply bg-gray-200;
  }
}

.cross {
  @apply text-gray-500;
}
