.input {
  @apply bg-transparent p-4 rounded-full appearance-none w-full transition duration-150 ease-in-out pr-10;

  @screen sm {
    min-width: 300px;
  }
}

.input:focus {
  @apply outline-none shadow-outline-2;
}

.iconContainer {
  @apply absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none;
}

.icon {
  @apply h-5 w-5;
}
