.largeRed {
  @apply text-2xl font-semibold text-secondary shadow-lg py-4 px-24 mt-14 flex flex-row cursor-pointer w-max-content bg-red-500 rounded-full transition ease-in-out duration-150;

  &:hover {
    @apply bg-red-600;
  }

  &:active {
    @apply transform scale-95 outline-none;
  }

  &:focus {
    @apply outline-none;
  }
}
