.root {
  @apply absolute m-0 p-0 opacity-0 h-0 w-0 pointer-events-none;
}

.root + label {
  @apply select-none cursor-pointer;
}

.root + label::before {
  @apply rounded-sm mr-4 inline-block relative flex-shrink-0 bg-white border-2 border-solid border-gray-300 bg-no-repeat bg-center;
  content: '';
  width: 20px;
  height: 20px;
  top: 5px;
  transition: transform 0.2s, border 0.2s;
}

.root:active + label::before {
  transform: scale(0.8);
  transition: transform 0.2s;
}

.root:focus + label::before {
  @apply border-blue-500;
  box-shadow: 0 0 0 3px rgba(63, 131, 248, 0.4);
}

.root--checked + label::before {
  @apply bg-blue-500 border-blue-500;
  transition: transform 0.2s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 12px;
}

.root--checked:active + label::before {
  transform: none;
  transition: none;
}

.root--not-checked:not(:focus) + label:hover::before {
  @apply border-gray-400;
}
