.root {
  @apply relative box-border;
  @apply bg-white transition-transform;
  @apply ease-linear;
}

.discountBadge {
  @apply absolute bg-yellow-200 z-10 px-4 py-1;
}

.discountBadge--slim {
  top: 8px;
  left: 8px;
}

.discountBadge--simple {
  top: 12px;
  left: 12px;
}

.notifyBadge {
  @apply absolute z-10;
  top: 12px;
  right: 12px;
}

.simpleCard {
  @apply rounded-md shadow-md px-6 py-3;
}

.insert {
  @apply bg-cover bg-no-repeat bg-top h-full rounded-xl transition ease-in-out duration-150 shadow-sm;

  &:hover {
    @apply shadow-xl;
  }
}

.slimCard {
  @apply w-44 p-3;

  @screen md {
    @apply w-full;
  }
}

.btn:hover .btn-label {
  @screen md {
    @apply left-8 opacity-100 duration-150 delay-75;
  }
}
