.root {
  @apply bg-white h-full flex flex-col;
}

.root.empty {
  @apply bg-gray-900 text-secondary;
}

.root.success {
  @apply bg-green text-white;
}

.root.error {
  @apply bg-red-500 text-white;
}
