.root {
  @apply relative box-border p-6;
  @apply bg-white transition-transform;
  @apply ease-linear;
}

.discountBadge {
  @apply absolute bg-yellow-200 z-10 px-4 py-1;
  top: 6px;
  left: 6px;
}

.fullCard {
  @apply border-b-2 border-gray-100;

  &:last-child {
    @apply border-b-0;
  }

  @screen md {
    @apply border-l-2 border-b-2 border-gray-100;

    &:first-child {
      @apply border-l-0 rounded-tl-xl;
    }

    &:nth-child(3) {
      @apply rounded-tr-xl;
    }

    &:last-child {
      @apply rounded-br-xl;
    }

    &:nth-last-child(3) {
      @apply rounded-bl-xl;
    }

    &:nth-last-child(3n) {
      @apply border-l-0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      @apply border-b-0;
    }

    @apply w-full;
  }
}

.slimCard {
  @apply w-44;

  @screen md {
    @apply w-full;
  }
}
