.quantity {
  appearance: textfield;
  @apply w-8 border-gray-300 border mx-3 rounded-sm text-center text-sm text-primary;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

.productImage {
  position: absolute;
  transform: scale(1.9);
  width: 100%;
  height: 100%;
  left: 30% !important;
  top: 30% !important;
}
